.menu-btn {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;

  .btn-line {
    display: block;
    background: $text-color;
    width: 40px;
    height: 6px;
    margin-bottom: 7px;
    transition: all 0.2s ease-in-out;
  }

  &.open {
    .btn-line {
      &:nth-child(1) {
        transform: rotate(44deg);
        transform-origin: top left;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-44deg);
        transform-origin: bottom left;
      }
    }
  }
}

// menu list

.menu {
  background: $primary-color;

  opacity: 0;
  transition: opacity linear 0.5s;

  &-list {
    overflow: hidden;

    width: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @for $i from 0 through 5 {
      :nth-child(#{$i}) {
        transform: translate3d(0, -15vh, 0);
        transition: transform 0.3s ease-out #{$i * 0.05}s;
      }
    }
  }

  .menu-item {
    list-style: none;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 20px 10px;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
      transition: all 0.5s ease-out;
    }

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &.show {
    opacity: 1;
  }
}
