$primary-color: #436499;
$secondary-color: #ffb685;
$text-color: white;
$background-image: url("../img/alone-cold-footprints-897014.jpg");
$background-opacity: 0.7;

@mixin background-image {
  background: $background-image;
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($primary-color, $background-opacity);
  }
}
