#gallery-bg {
  background: $primary-color;
}

.gallery-main {
  min-height: calc(100vh - 50px);
  max-width: 2000px;
  margin: 0 auto;  
  display: flex;
  align-items: center;

  .gallery-container {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(100vh);
    visibility: hidden;
    transition: all 0.5s;

    &.show-gallery {
      transform: translateY(0);
      visibility: visible;
    }
  }

  .img-container {
    margin: 10px 10px;

    img {
      width: 100%;
      border: 2px solid $text-color;
      transition: 0.7s;

      &:hover {
        transform: scale(1.05);
        opacity: 0.6;
      }
    }
  }
}
