#home-bg {
  @include background-image;
  overflow: hidden;
}

.home-main {
  height: 90%;
  .banner {
    padding: 8rem 0 0 20rem;

    h1 {
      font-size: 9rem;
      margin: 0;
    }

    h2 {
      font-size: 3rem;
      margin: 0;
    }

    div {
      color: $secondary-color;
      font-size: 6rem;
    }
  }
}
