#location-bg {
  background: $primary-color;
}

.location-main {
  min-height: calc(100vh - 140px);

  display: flex;
  justify-content: center;
  align-items: center;
  #map {
    border: 10px solid $text-color;
    height: 66vh;
    width: 50%;
  }
}
