// some styles are inherited from page1 scss

#location-bg {
  background: $primary-color;
}

.map-container {
  width: 90%;
  display: flex;
  justify-content: center;
}

#map {
  margin: 9vh 0;
  width: 77vh;
  height: 60vh;
  border: 10px solid $text-color;
}
