.preloader {
  position: fixed;
  background: url("../../dist/img/preloaders/25.gif") no-repeat center;
  height: 100px;
  width: 100px;
  margin: -50px 0 0 -50px;
  left: 50vw;
  top: 50%;

  opacity: 1;
  z-index: 1000;
  transition: 0.4s ease;
}

.preloader-hidden {
  opacity: 0;
  z-index: -1000;
}
