///////////////////////////////////
// Large screens  above 1024px
//////////////////////////////////

@include mediaLg {
  // Home page

  .main {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 3rem;
    }
    div {
      font-size: 5rem;
    }
  }
}

////////////////////////////////////
//       Medium screens below 768px
//////////////////////////////////

@include mediaMd {
  // Menu

  .menu {
    padding: 7px 10px;
    .menu-list {
      justify-content: space-evenly;
    }
    .menu-item {
      a {
        font-size: 1.4rem;
      }
    }
  }

  // Home screen

  .main {
    top: 25vh;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3rem;
    }
    div {
      font-size: 4rem;
    }
  }

  // Gallery

  .img-container {
    flex-basis: 43%;
  }
}

////////////////////////////////////
//   Screens between 600 - 500 px
////////////////////////////////////

@include mediaMdPlus {
  // Menu
  .menu {
    padding: 7px 10px;
    .menu-list {
      justify-content: space-evenly;
    }
    .menu-item {
      a {
        font-size: 1rem;
      }
    }
  }
}

///////////////////////////////
//      Small screens
//////////////////////////////

@include mediaSm {
  // Button

  .menu-btn {
    position: fixed;
  }

  //  Menu

  .menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 0;
    background: $primary-color;
    overflow: hidden;
    opacity: 0;

    &-list {
      align-items: stretch;
      flex-direction: column;
      padding-top: 15vh;
      width: 100%;

      @for $i from 1 through 4 {
        :nth-child(#{$i}) {
          transform: translate3d(100vw, 0, 0);
        }
      }
    }

    .menu-item {
      text-align: center;
      a {
        font-size: 2.5rem;
      }
    }

    &.show {
      opacity: 0.96;
      height: 100vh;
    }
  }

  // Home page

  .main {
    top: 30vh;
    left: 7vw;
    padding: 40px 0 0 50px;
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }
    div {
      font-size: 3rem;
    }
  }

  // Gallery page

  .gallery-main {
    .gallery-container {
      margin-top: 80px;
      padding: 0;
      justify-content: space-evenly;
    }

    .img-container {
      margin: 5px 0px;

      img {
        width: 100%;
        border: 1px solid $text-color;
      }
    }
  }

  // Location page

  #map {
    margin: 12vh 0 0 0;
    width: 100vh;
    height: 100vh;
    border: 10px solid $primary-color;
  }

  // Footer

  .page-1 {
    min-height: calc(100vh - 58px);
    .container {
      padding-top: 60px;
    }
  }
}
